@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
@*<div id="formSection">
    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "formSection" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
          
            <div class="form-group">
                <div class="col-md-10">
                    <textarea name="message"></textarea>
                    <input type="submit" value="send" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}*@
<div id="formSection" class="form-group">
    <h3 class="col-form-label-lg">@ViewBag.Message</h3>
    <img src="~/Content/Images/loading.gif" id="progress" style="display:none;height:60px;width:60px" />
    <form method="post" id="contactForm">
        <textarea name="message" id="message" class="form-control-lg" rows="5" maxlength="150" data-bind="value:message,valueUpdate:'input'"></textarea>
        <br/>
        <input type="submit" value="send" class="btn btn-primary" />       
        <span class="col-form-label-sm" data-bind="text:charactersRemaining"></span> characters remaining.
        <br/>
    </form>

</div>
@section scripts{
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script>
        $('#contactForm').submit(function () {
            $('#progress').show();
            $.post('', { message: $('message').val() })
                .done(function (response){
                    setTimeout(
                        function () { $("#formSection").html(response); },
                        2000);
                });
            return false;
        });
        function ContactViewModel() {
            var self = this;
            self.message = ko.observable('');
            self.charactersRemaining = ko.computed(function () {
                return 150 - self.message().length;
            });
        }
        ko.applyBindings(new ContactViewModel());
    </script>
    }