@model MVCATM.Models.TransactionStatus

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h4>Transaction Status</h4>
        <hr />
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.processStatus</h5>
                <p class="card-text">
                    @Model.StatusMessage
                </p>
                <h6 class="card-subtitle mb-2 text-muted">Details</h6>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        Account Number:@Model.transaction.checkingAccount.AccountNumber
                        <br />
                        Current Balance:@Html.DisplayFor(model => model.transaction.checkingAccount.Balance, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        Transaction Time:@Model.TransactionTime
                        <br />
                        Initiated By:@Model.transaction.checkingAccount.Name
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

